[submodule "Yottagram/vendor/fr/grecko/sortfilterproxymodel"]
	path = Yottagram/vendor/fr/grecko/sortfilterproxymodel
	url = https://github.com/oKcerG/SortFilterProxyModel.git
[submodule "Yottagram/vendor/rlottie"]
	path = Yottagram/vendor/rlottie
	url = https://github.com/Samsung/rlottie.git
[submodule "Yottagram/vendor/tgcalls/upstream"]
	path = Yottagram/vendor/tgcalls/upstream
	url = https://github.com/TelegramMessenger/tgcalls.git
[submodule "Yottagram/vendor/tg_owt/upstream"]
	path = Yottagram/vendor/tg_owt/upstream
	url = https://github.com/desktop-app/tg_owt/
