[Desktop Entry]
Type=Application
X-Nemo-Application-Type=generic
Icon=yottagram
Exec=dbus-send --type="method_call" --dest=com.verdanditeam.yottagram / com.verdanditeam.yottagram.openApp
Name=yottagram
